body{
    background-color: rgb(47, 201, 201);
}
.perguntas{

    color: rgb(214, 165, 4);
}
.cor-padrão{
    color: darkturquoise;
}
.border{
    border-width: 15px;
    border-color: black;
    border-style: double;
}