body{
    background-color: rgb(0, 0, 1);
}
.perguntas{

    color: rgb(214, 165, 4);
}
.cor-padrão{
    color: rgb(255, 255, 254);
}
.border{
    border-width: 20%;
    border-color: black;
    border-style: double;
}
h1{
    color: rgb(214, 165, 4);
}